
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" style="margin-top: 20px;">
    <div class="carousel-item active">
      <img src="../../images/images2.jpg" class="d-block w-100 " alt="...">
    </div>
  </div>
  </div>

  
  <div class="row">
    <div class="col-md-12">
        <img src="../../images/img5.jpg" alt="" style="width: 1200px; margin-top:12px; margin-left: 25px">
    </div>

  <div class="row">
    <div class="col-md-12">
        <img src="../../images/img3.jpg" alt="" style="width: 1280px; height:95px; margin-top:12px; margin-left: 0px">
    </div>

    